.PostTranslationCreate {
  .title {
    margin-bottom: 10px;
  }

  .button {
    margin-top: 15px;
  }

  .content-card {
    margin-top: 15px;
  }

  .editor-paper {
    width: auto;
    padding: 24px;
    //background-color: lightgrey;
  }
}
