.Grid {
  .table-container {
    height: calc(100vh - 64px - 52px);
  }

  .clickable {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.loader-wrap {
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
