.CategoryEdit {
  margin-top: 20px;

  .input-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  .button {
    margin-top: 15px;
  }

  .alert {
    margin-bottom: 15px;
  }
}
