.Category {
  .data-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  .locale-card {
    margin-top: 15px;
  }

  .btn-remove {
    margin-left: 10px;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
  }
}
