.ActionsMenu {
  display: flex;
  justify-content: flex-end;

  .icon {
    width: 30px;
    height: 30px;
  }

  .menu {
    min-width: 300px;
  }
}
.action-text {
  &.has-icon {
    margin-left: 5px;
  }
}
