.PageWrap {
  .loader-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app-bar {
    &.has-margin-bottom {
      margin-bottom: 15px;
    }

    .button {
      margin-left: 15px;
    }
  }
}
